@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}

.active {
  @apply tracking-wide text-green-700 transition-colors duration-200;
}

.default {
  @apply text-white transition-colors duration-200 hover:text-gray-500;
}

.btn-primary {
  @apply font-medium transition duration-200 shadow-inner shadow-black dark:shadow-white  my-3 md:mb-0 px-3 py-1 md:px-4 md:py-2 rounded hover:text-white bg-primary active:bg-[#2e0c0f] hover:bg-[#d339a5] text-white hover:border-transparent;
}

.btn-secondary {
  @apply text-yellow-100 hover:text-sky-100 font-serif transition duration-200 shadow-inner shadow-black dark:shadow-white  my-2 md:mb-0 px-2 md:px-4 py-1 rounded-l-full bg-[#1234] hover:bg-[#a861df];
}

.btn-outlined {
  @apply font-medium transition duration-200 shadow-inner shadow-black dark:shadow-white  my-3 md:mb-0 px-3 py-1 md:px-4 md:py-2 rounded hover:bg-[#1d3557] active:bg-[#5d6ac2] hover:border-transparent  hover:text-white;
}

.btn-client {
  @apply text-[#838BD6] font-normal shadow-inner shadow-black dark:shadow-white  rounded-full px-2 hover:bg-slate-100 hover:border-transparent;
}

.btn-server {
  @apply text-[#a861df] font-normal shadow-inner shadow-black dark:shadow-white  rounded-full px-2 hover:bg-zinc-100 hover:border-transparent;
}

.btn-live {
  @apply text-[#db64bb] font-normal shadow-inner shadow-black dark:shadow-white  rounded-full px-2 hover:bg-slate-100 hover:border-transparent;
}

.service-card {
  @apply text-center bg-[#22262A]  shadow-[10px_10px_19px_#1c1e22,-10px_-10px_19px_#262a2e] py-8 px-6  rounded-lg mx-8 md:mx-0 hover:text-[#EBECEC] hover:bg-[#181A1E] transition-all duration-500 ease-in-out hover:scale-105;
}

.myInput {
  @apply outline-0 p-[10px] text-base  rounded mb-3 border-b-[1px] border-[#2ea3c0] bg-transparent focus:border-[1px] focus:border-primary focus:bg-accent;
}
.myLabel {
  @apply absolute pointer-events-none left-0 text-base font-normal uppercase transition-all duration-500 top-2 px-[10px];
}

.myInput:focus ~ span , .myInput:valid ~span {
  color: #2ea3c0;
  transform:translateX(10px) translateY(-22px);
  padding: 0 10px;
  background: #212428;
}
.myIcon {
  @apply rounded-full text-5xl shadow-inner shadow-black p-2 transition-all duration-700 ease-in-out hover:-translate-y-1;

  background: linear-gradient(to left, #212428 50%, #ff014f 50%) right;
  background-size: 200%;
}


.myIcon {
  @apply rounded-full text-4xl shadow-inner shadow-black p-2 transition-all duration-700 ease-in-out hover:-translate-y-1;

  background: linear-gradient(to left, #212428 50%, #ff014f 50%) right;
  background-size: 200%;
}

.myIcon:hover {
  background-position: left;
  @apply bg-primary;
}

.contact-icon {
  @apply rounded-md text-5xl shadow-[10px_10px_19px_#1c1e22,-10px_-10px_19px_#262a2e] p-2 transition-all duration-700 ease-in-out hover:-translate-y-1;
}
